@model IEnumerable<AgenciaViajesSpainIsDiferent.Models.Vuelo>

@{
    ViewBag.Title = "Vuelos";
}

<h2>Vuelos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.lowcost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.compañia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.origen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.destino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numeroplazas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.lowcost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.compañia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.origen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.destino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numeroplazas)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idVuelo }) |
            @Html.ActionLink("Details", "Details", new { id=item.idVuelo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idVuelo })
        </td>
    </tr>
}

</table>
