@model AgenciaViajesSpainIsDiferent.Models.Crucero

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Crucero</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipobarco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipobarco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.compañia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compañia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.origen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.origen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.destino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.destino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numeroplazas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroplazas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duracion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCrucero }) |
    @Html.ActionLink("Back to List", "Index")
</p>
