@model AgenciaViajesSpainIsDiferent.Models.Excursiones

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Excursiones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreExcursion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreExcursion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExcursionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
